<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger text-center">
                <h4>Limite de acesso atingido</h4>
                <p>Você não pode mais acessar esta página.</p>
                <form action="/logout" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-primary mt-3">Sair</button>
                </form>
            </div>
        </div>
    </div>
</div>
