<footer class="bg-light text-center py-3 mt-auto">
  <small>
    &copy; <%= new Date().getFullYear() %> <a href="<%= branding.href %>">Admin Panel</a>
    - Painel criado por <a href="https://wa.me/559295333643">Douglas Reis</a>
  </small>
</footer>
